@import url(http://fonts.googleapis.com/css?family=Roboto);

.campsite-tag{
  padding: .4% 1%;
  font-size:1.2em;
  float:left;
  margin-top:.5%;
  margin-left:.5%;
  border: 1px solid #333;
  color: #333 !important;
  opacity: 1 !important;
  border-radius: 4px;
  background-color: transparent;
  position:relative;
}

.tag-box{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}
.campsite-tag:hover{
  border: 1px solid white;
  color: #333;
  background-color:#959595;
}
.campsite-tag-active{
  color: white !important;

  border: 1px solid white;
  color: #333;
  background-color:#959595;
}
.small-map-container{
  height: 200px;
}

h4{
  color: white;
  text-align: left;
}
p{
  color: white;
  text-align: left;
  font-weight: lighter;
 
}
.description-chars{
  font-weight: lighter;
  color:#333;
}
label{
  color:white;
}
.error{
  color: red;
  text-align: center;
}
.image-drop-container{
  width: 100%;
}
.image-drop{
  border: dashed #333;
  height: 80px;
  text-align: center;
}
.dark-gray{
  padding-top: 10px;
  font-weight: bolder;
  text-align: center;
  color:#333;
}
.preview-image{
  width: auto;
  height: 100px;
  float: center;
  padding: 0px 5px;
}
.center-text{
  text-align: center;
  padding-top: 15px;
  color: #333;
}
.fires-box{
  padding-top: 10px;
  font-weight: 400;
}
.left-align{
  text-align: left;
}

textarea{
  width: 100%;
  height:80px;
}

.closeButton{
  padding-top: 5px;
}

.bold{
  padding-top: 5px;
  font-weight: bolder;
}
.add-form{
  background-color: #5b5b5b;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.price-buttons{
  text-align: left;
}
.tent-buttons{
  text-align: left;
}
.radio-inline{
  color:white;
}
.campsitemodal-color{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/****** CAMPSITE MODAL ******/
.closeButton{
  position: absolute;
  top:0; 
  right:23%;
  color: #959595;
  font-size: 2em;
}
.closeButton:hover{
    transform: scale(1.2);
}
.modal-content{
    background-color: rgba(0,0,0,0);
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
.campsitemodal-container {

}

.campsitemodal-container {
  padding: 0px;
  max-width: 350px;
  width: 100% !important;
  background-color: #333;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.campsitemodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: lighter;
  color: #f39a22;
  color : -webkit-linear-gradient(#f39a22, #f8b217);
}

.campsitemodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.campsitemodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.campsitemodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.campsitemodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.campsitemodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:5px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.campsitemodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.campsitemodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 
.error{
  color:red;
}
.campsite-help{
  font-size: 12px;
}
.campsite-register-image{
  height: 60px;
}
