body, html{
   height: 98%;
   padding: 0;
}

.navbar-brand-img{
    height: 100%;
}
.navbar-brand{
    padding: 5px;
}
.navbar-nav > li > a, .navbar-brand{
    height: 70px;
}
.navbar {
	min-height:30px !important;
}


.searchBar{
  width: 100%;
  height: 70px;
  border: none;
  background: transparent;
  outline: none;
  color: #959595;
  font-size: 25px;
  font-weight: lighter;
  padding-left: 2px;
}

.searchBar::-webkit-input-placeholder{
	border-bottom: 1px solid #C3C3C3;

}

.searchBar-nav{
	width: 40%;
	height: 70px;
}

.searchBar:focus {
	outline: none;
}

.navbar-default{
	margin-bottom: 0;
}

.navbar-nav li a {
	line-height: 35px;
}
.nav-links{
	margin-left: 20px;
	color:#f39a22;
	font-size: 25px;
	background: -webkit-linear-gradient(#f39a22, #f8b217);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.filter-tag{
	padding: 6px 12px;
	font-size:18px;
	float:left;
	margin-top:5px;
	margin-left: 5px;
	border: 1px solid #dadada;
	color: #dadada;
	border-radius: 4px;
	background-color: transparent;
}
.filter-tag:hover{
  border: 1px solid white;
  color: #333;
  background-color:#959595;
}
.nav-dropdown{
	background-color: #333;
}

.nav-dropdown-up{
	position: relative;
	height: 2%;
	min-height:20px;
}
.nav-dropdown-down{
	position: relative;
	height: 100px;
}


.nav-dropdown-arrow{
	position: absolute;
    bottom: 2px;
	vertical-align:bottom;
	width: 35px;
}

.nav-dropdown-arrow:hover{
	transform: scale(1.2);
}